canvas {
  margin: 0 auto;
  display: block;
  position: absolute;
  margin: 0 auto;
  top: 61px;
  left: 47px;
  // background-color: green;
  // opacity: 0.5;
}

#game-container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 800px;
}

.logo {
  display: block;
  position: absolute;
  left: 100px;
  top: -20px;
  z-index: -2;
}

img {
  z-index: -1;
}


header img {
  width: 400px;
  margin: 0 auto;
  display: block;
}

header {
  height: 50px;
}

html {
  background-color: #404040;
}