canvas {
  margin: 0 auto;
  display: block;
  position: absolute;
  margin: 0 auto;
  top: 93px;
  left: 79px;
}

#game-container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 800px;
}

.logo {
  display: block;
  position: absolute;
  left: 100px;
  top: -20px;
}


header img {
  width: 400px;
  margin: 0 auto;
  display: block;
}

header {
  height: 50px;
}

html {
  background-color: #404040;
}